<!DOCTYPE html>
<html>
  <head>
    <title>ShogunChallenge</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <!-- <a href='https://www.freepik.com/vectors/logo'>Logo vector created by kreativkolors - www.freepik.com</a> -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/205b2f2ec2.js" crossorigin="anonymous"></script>


  </head>

  <body>
    <%= yield %>
  </body>

  <script type="text/javascript">
    window.logoUrl = "<%= image_url('logo.jpg') %>";
    window.homeImg = "<%= image_url('home.jpg')%>";
    window.singleFamily = "<%= image_url('single-fam-bernadette-gatsby-bN_TkedaBuQ-unsplash.jpg')%>";
    window.multiFamily = "<%= image_url('multi-fam-gracie-emory-YGupIE8Yjuc-unsplash.jpg')%>";
    window.multiFamilyFivePlus = "<%= image_url('multi-fam-5-lilibeth-bustos-linares-WuzCWStFQUU-unsplash.jpg')%>";
    window.townHome = "<%= image_url('townhome-aman-kumar-WV2fFEOCMMM-unsplash.jpg')%>";
    window.condo = "<%= image_url('condo-gracie-emory-tdXjqv0701M-unsplash.jpg')%>";
  </script>
</html>
